<table class="signature_table">
<tr>
<th class="name">Emeritus Professor Warren Tate</th>
<td class="title">Scientist-Biomedical</td>
<td class="quals">BSc MSc(Hons) PhD FRSNZ CNZM</td>
</tr>
<tr>
<th class="name">Professor Rod Jackson</th>
<td class="title">Epidemiologist  Public Health Physician</td>
<td class="quals">BSc MBChB MMedSc DObs DCH PhD FNZCPHM</td>
</tr>
<tr>
<th class="name">Professor Chris Bullen</th>
<td class="title">Public Health Medicine</td>
<td class="quals">MBChB DObst DCH MPH PhD FNZCPHM FAFPHM</td>
</tr>
<tr>
<th class="name">Professor Nick Wilson</th>
<td class="title">Professor of Public Health</td>
<td class="quals">MBChB MPH</td>
</tr>
<tr>
<th class="name">Associate Professor Rhys Jones</th>
<td class="title">Public Health Medicine</td>
<td class="quals">MBChB MPH FNZCPHM</td>
</tr>
<tr>
<th class="name">Associate Professor Elana Curtis</th>
<td class="title">Public Health Medicine</td>
<td class="quals">MD MPH DipPH MBChB BHB FNZCPHM</td>
</tr>
<tr>
<th class="name">Associate Professor Lance C. Jennings</th>
<td class="title">Virology</td>
<td class="quals">QSO PhD FRCPath FFSc(RCPA)</td>
</tr>
<tr>
<th class="name">Emeritus Professor Phil Garnock-Jones</th>
<td class="title">Biology</td>
<td class="quals">BSc(Hons) PhD</td>
</tr>
<tr>
<th class="name">Honorary Associate Professor Rob Siebers</th>
<td class="title">Scientist</td>
<td class="quals">PGCertPH FNZIMLS FRSB HonFNZAP</td>
</tr>
<tr>
<th class="name">Associate Professor Siouxsie Wiles</th>
<td class="title">Microbiologist</td>
<td class="quals">PhD</td>
</tr>
<tr>
<th class="name">Professor Stuart Dalziel</th>
<td class="title">Paediatric Emergency Physician</td>
<td class="quals">MBChB FRACP PhD</td>
</tr>
<tr>
<th class="name">Professor Virginia Braun</th>
<td class="title">Psychology</td>
<td class="quals">PhD</td>
</tr>
<tr>
<th class="name">Professor Andrew Jull</th>
<td class="title">Nurse</td>
<td class="quals">RN MA(Applied) PhD</td>
</tr>
<tr>
<th class="name">Professor Thomas Lumley</th>
<td class="title">Biostatistician</td>
<td class="quals">PhD FRSNZ.</td>
</tr>
<tr>
<th class="name">Professor Richard Easther</th>
<td class="title">Physics</td>
<td class="quals">PhD</td>
</tr>
<tr>
<th class="name">Associate Professor Jonathan Marshall</th>
<td class="title">Statistician</td>
<td class="quals">PhD</td>
</tr>
<tr>
<th class="name">Professor Arindam Basu</th>
<td class="title">Professor of Epidemiology</td>
<td class="quals">PhD</td>
</tr>
<tr>
<th class="name">Dr Kelvin Walls</th>
<td class="title">Engineer & Building Surveyor</td>
<td class="quals">PhD</td>
</tr>
<tr>
<th class="name">Dr Julie Bennett</th>
<td class="title">Public Health</td>
<td class="quals">PhD</td>
</tr>
<tr>
<th class="name">Dr Gary Payinda</th>
<td class="title">Emergency Medicine Specialist</td>
<td class="quals">MD MA DDU FACEP FACEM</td>
</tr>
<tr>
<th class="name">Dr Michael Howard</th>
<td class="title">Emergency Consultant Microbiologist   Immunologist</td>
<td class="quals">MD FACEP FACEM</td>
</tr>
<tr>
<th class="name">Dr Rory Miller</th>
<td class="title">Rural GP and Hospital Medicine</td>
<td class="quals">MBChB FRNZCGP FDRHMNZ</td>
</tr>
<tr>
<th class="name">Dr Garry Nixon</th>
<td class="title">Rural Health</td>
<td class="quals">MD FRNZCGP FDRHMNZ</td>
</tr>
<tr>
<th class="name">Dr Sally Talbot</th>
<td class="title">Specialist General Practitioner</td>
<td class="quals">MBChB Dip Obst FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Matire Harwood</th>
<td class="title">GP</td>
<td class="quals">MBChB PhD MRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Alison Leversha</th>
<td class="title">Paediatrician</td>
<td class="quals">BHB MBChB DipObs FRACP(Paeds) MPH PhD</td>
</tr>
<tr>
<th class="name">Dr Ruth Sinclair</th>
<td class="title">Neonatal Paediatrician</td>
<td class="quals">MBChB FRACP</td>
</tr>
<tr>
<th class="name">Dr Jin Russell</th>
<td class="title">Community and Developmental Paediatrician</td>
<td class="quals">MBChB DipPaed FRACP</td>
</tr>
<tr>
<th class="name">Dr Alice Tait-Jamieson</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Catherine Hurd</th>
<td class="title">General Practitioner</td>
<td class="quals">BSc MD CCFP FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Pamela Eccles</th>
<td class="title">Anaesthetist Pain Medicine Specialist</td>
<td class="quals">MBChB FANZCA  FFPMANZCA</td>
</tr>
<tr>
<th class="name">Dr Indran Ramanathan</th>
<td class="title">Cardiothoracic Surgeon</td>
<td class="quals">MBBS PhD FRACS</td>
</tr>
<tr>
<th class="name">Dr Miranda McEwan</th>
<td class="title">General Practice</td>
<td class="quals">BSc(Hons) MBChB PhD</td>
</tr>
<tr>
<th class="name">Dr Cathy White</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB FRCGP</td>
</tr>
<tr>
<th class="name">Dr Louise Kuegler</th>
<td class="title">Specialist General Practitioner</td>
<td class="quals">MBChB FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Kim Williams</th>
<td class="title">General Practitioner</td>
<td class="quals">FRNZCGP  MRCP(Lond) MRCGP</td>
</tr>
<tr>
<th class="name">Dr Angela Glew</th>
<td class="title">General Practitioner</td>
<td class="quals">MA MB BChir MRCGP FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Vivian Fu</th>
<td class="title">Neurologist & General Physician</td>
<td class="quals">MBChB PhD FRACP</td>
</tr>
<tr>
<th class="name">Dr Danielle Gerrard</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB PGDip Paeds FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Rebecca Randerson</th>
<td class="title">Specialist General Practitioner</td>
<td class="quals">MBChB FRNZCGP DipChildHealth</td>
</tr>
<tr>
<th class="name">Dr Pauline Horrill</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Anna Skinner</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Caroline Ryan</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB (Otago) FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Stephanie Taylor</th>
<td class="title">General Practitioner</td>
<td class="quals">BPhED (Hons) MBChB FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Grahame David Jelley</th>
<td class="title">Specialist General Practitioner</td>
<td class="quals">MBChB FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Landi Cranstoun</th>
<td class="title">General Practice</td>
<td class="quals">MD Diplomate American Board of Family Medicine</td>
</tr>
<tr>
<th class="name">Dr Laura McAulay</th>
<td class="title">GP Registrar</td>
<td class="quals">MBBS MRNZCGP PGcertWH</td>
</tr>
<tr>
<th class="name">Dr Kiyomi Kitagawa</th>
<td class="title">GP Registrar</td>
<td class="quals">MB ChB</td>
</tr>
<tr>
<th class="name">Dr Pam Olver</th>
<td class="title">General Practitioner</td>
<td class="quals">MBBCh FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Victoria Jones</th>
<td class="title">General Practitioner</td>
<td class="quals">LLB BMBS FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Brett Hyland</th>
<td class="title">Specialist GP</td>
<td class="quals">BHB MBChB FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Lorna Archer</th>
<td class="title">General Practitioner</td>
<td class="quals">MB BS BSc</td>
</tr>
<tr>
<th class="name">Dr Rebecca Stewart</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Jonathon Phillips</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Clare Fisher</th>
<td class="title">Anaesthetist</td>
<td class="quals">MBChB FRCA FANZCA</td>
</tr>
<tr>
<th class="name">Dr Akanksha Bhargava</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB DCH FNZCGP</td>
</tr>
<tr>
<th class="name">Dr Christina McLachlan</th>
<td class="title">Internal Medicine</td>
<td class="quals">MBChB FRACP</td>
</tr>
<tr>
<th class="name">Dr Yu-Ching Yu</th>
<td class="title">GP Registrar</td>
<td class="quals">MB ChB DTM&H MPH</td>
</tr>
<tr>
<th class="name">Dr Annick Depuydt</th>
<td class="title">Anaesthetist</td>
<td class="quals">MBBS BA FANZCA</td>
</tr>
<tr>
<th class="name">Dr Tarun Sharma</th>
<td class="title">GP and Urgent Care Physician</td>
<td class="quals">FRNZCGP FRNZCUC</td>
</tr>
<tr>
<th class="name">Dr Vicki Robertson</th>
<td class="title">Gynaecologist</td>
<td class="quals">FRANZCOG</td>
</tr>
<tr>
<th class="name">Dr Dougal Thorburn</th>
<td class="title">General Practitioner and Public Health   Medicine</td>
<td class="quals">MBChB MPH FRNZCGP ANZCPHM</td>
</tr>
<tr>
<th class="name">Dr Prabani Wood</th>
<td class="title">General Practice</td>
<td class="quals">BMBCh  Masters in Public Health BA FRCNZGP</td>
</tr>
<tr>
<th class="name">Dr Gemma Poke</th>
<td class="title">Clinical Genetics</td>
<td class="quals">FRACP</td>
</tr>
<tr>
<th class="name">Dr Pleayo Tovaranonte</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB LLM (Medical Law & Ethics) PGDipSpMed       PGCertCAvMed  PGDipHlthSrvMgmnt</td>
</tr>
<tr>
<th class="name">Dr Andrew Wood</th>
<td class="title">ENT Surgeon</td>
<td class="quals">BM BCh PhD FRACS</td>
</tr>
<tr>
<th class="name">Dr Sonja Bodley</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Raakhi Mistry</th>
<td class="title">General Practice</td>
<td class="quals">MBChB</td>
</tr>
<tr>
<th class="name">Dr Prerna Sehgal</th>
<td class="title">Founding President PIHPSA</td>
<td class="quals">MBChB (Otago) PG Dip Paed (Auck) BPharm PG Cert Pharm (Otago)</td>
</tr>
<tr>
<th class="name">Dr Karen McIlhone</th>
<td class="title">Public Health</td>
<td class="quals">MBChB DipPaed MPH</td>
</tr>
<tr>
<th class="name">Dr Atalie Colman</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB FRNZCGP PhD</td>
</tr>
<tr>
<th class="name">Dr Tina Chou</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB FRNZCGP PGCertCAvMed</td>
</tr>
<tr>
<th class="name">Dr Karyn Schischka</th>
<td class="title">Urgent Care Physician</td>
<td class="quals">MBChB FRNZCUC MRCEM DCH</td>
</tr>
<tr>
<th class="name">Dr David Davies-Payne</th>
<td class="title">Radiologist</td>
<td class="quals">MBChB FRANZCR</td>
</tr>
<tr>
<th class="name">Dr Vivien Yong</th>
<td class="title">Internal Medicine</td>
<td class="quals">MBChB FRACP</td>
</tr>
<tr>
<th class="name">Dr Robin Evison</th>
<td class="title">Urgent Care Physician</td>
<td class="quals">MD FRNZCUC</td>
</tr>
<tr>
<th class="name">Dr Barbara Blok</th>
<td class="title">Emergency Physician  Urgent Care Physician</td>
<td class="quals">MBChB FACEM FRNZCUC PGCertCPU PGDipTravMed</td>
</tr>
<tr>
<th class="name">Dr Jasmine MacKay</th>
<td class="title">Urgent Care Physician</td>
<td class="quals">BSc MBChB FRNZCUC</td>
</tr>
<tr>
<th class="name">Dr Kerry Thornbury</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB BSc FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Cheryl Archer</th>
<td class="title">Specialist General Practitioner</td>
<td class="quals">MBChB FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Nina Bevin</th>
<td class="title">General Practitioner and Public Health</td>
<td class="quals">MBChB MPH MHSci DIH FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Jasmin Roman</th>
<td class="title">General Practitioner</td>
<td class="quals">MD</td>
</tr>
<tr>
<th class="name">Dr Marama Renata</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Dave McKay</th>
<td class="title">Palliative Doctor and GP</td>
<td class="quals">MBChB PGDipGP PGDipPalCare FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Charlotte Harris</th>
<td class="title">General Practitioner</td>
<td class="quals">MBchB(Hons) FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Dasna Pallie</th>
<td class="title">General Practitioner</td>
<td class="quals">FRNZCGP MBCHB</td>
</tr>
<tr>
<th class="name">Dr Brooke Vosper</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB MRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Lakhminder Sandhu</th>
<td class="title">General Practitioner</td>
<td class="quals">FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Dilawar Singh</th>
<td class="title">General Practitioner and Urgent Care Physician</td>
<td class="quals">MBBS FRNZCGP FRNZCUC</td>
</tr>
<tr>
<th class="name">Dr Clare Harford</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Vasanthi Bradley</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB</td>
</tr>
<tr>
<th class="name">Dr Jocelyn Wood</th>
<td class="title">General Practitioner</td>
<td class="quals">M b B Chir MA (Cantab)FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Joost Breuk</th>
<td class="title">General Practitioner</td>
<td class="quals">FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Margaret Field Oakley</th>
<td class="title">Specialist GP</td>
<td class="quals">FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Donna Lahood</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Jason Kohamutunga Tuhoe</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Sivanadiyan Nachiappan</th>
<td class="title">General Practitioner</td>
<td class="quals">MBBS FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Claire Russell</th>
<td class="title">Urgent Care Clinician</td>
<td class="quals">MBBS FRNZCGP FRNZCUC</td>
</tr>
<tr>
<th class="name">Dr Susanna Kent</th>
<td class="title">GP and Forensic Physician</td>
<td class="quals">MBChB FRNZCGP Dip Forensic Med Dip Obs Dip Clin Nutrition</td>
</tr>
<tr>
<th class="name">Dr Kirsten Tucker</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Kerry Macaskill-Smith</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB FRNZCGP DEEM DipPaeds</td>
</tr>
<tr>
<th class="name">Dr Rhondda Turner</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB Dip Obs FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Michael Loten</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Claire Coddington</th>
<td class="title">General Practitioner</td>
<td class="quals">MRCP MRCGP FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Helen Fulcher</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB DipPaed PGCertHsc (Sports Med) FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Ruth Cameron</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Rozanna Latif</th>
<td class="title">GP</td>
<td class="quals">MBChB</td>
</tr>
<tr>
<th class="name">Dr Katrina Kirikino</th>
<td class="title">General Practitioner</td>
<td class="quals">MBCHB FRNZCGP Dip Obs Dip Peads</td>
</tr>
<tr>
<th class="name">Dr Leanne Ashley</th>
<td class="title">GP and Cosmetic Medicine Doctor</td>
<td class="quals">MBChB FRNZCGP NZSCM</td>
</tr>
<tr>
<th class="name">Dr Lucy Telfar Barnard</th>
<td class="title">Epidemiologist</td>
<td class="quals">MA(Hons) PhD</td>
</tr>
<tr>
<th class="name">Dr Kim Burgess</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB DPH FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Jessie Anderson</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Jennifer Summers</th>
<td class="title">Epidemiologist</td>
<td class="quals">PhD AKC DHMSA PGDPH  PGCap  BSc CStat FHEA MRSNZ</td>
</tr>
<tr>
<th class="name">Dr Dermot Coffey</th>
<td class="title">General Practitioner</td>
<td class="quals">FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Geraldine Tennent</th>
<td class="title">General Practitioner</td>
<td class="quals">FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Anita Mudaliar</th>
<td class="title">General Practitioner</td>
<td class="quals">MRCGP FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Herman van Kradenburg</th>
<td class="title">Consultant Specialist GP</td>
<td class="quals">MBCHB Dip Occ Med (cum laude) FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Neilenuo Nelly Rentta</th>
<td class="title">Public Health</td>
<td class="quals">MBBS Diplomate of the National Board (DNB) General Surgery DPH</td>
</tr>
<tr>
<th class="name">Dr Sarah McArthur</th>
<td class="title">General Practice</td>
<td class="quals">MBChB PGDip Child Health</td>
</tr>
<tr>
<th class="name">Dr Shona Roberts</th>
<td class="title">General Practitioner</td>
<td class="quals">MBBS FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Gillian Yardley</th>
<td class="title">General Practitioner</td>
<td class="quals">BSc MbChB FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Naera Waters</th>
<td class="title">Medical Oncologist</td>
<td class="quals">MBChB FRACP</td>
</tr>
<tr>
<th class="name">Dr Janet Hayward</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Maaike Mewe</th>
<td class="title">Specialist GP</td>
<td class="quals">FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Helen Wood</th>
<td class="title">Specialist General Practitioner</td>
<td class="quals">MBChB FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Liz Humm</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Beth McDonald</th>
<td class="title">General Practice</td>
<td class="quals">MBChB</td>
</tr>
<tr>
<th class="name">Dr Vicki Shaw</th>
<td class="title">Youth Health</td>
<td class="quals">MBChB</td>
</tr>
<tr>
<th class="name">Dr Holly Pittar</th>
<td class="title">House Officer</td>
<td class="quals">MBChB DCH</td>
</tr>
<tr>
<th class="name">Dr May Ching Soh</th>
<td class="title">Rheumatologist & Obstetric Physician</td>
<td class="quals">MBChB FRACP PhD</td>
</tr>
<tr>
<th class="name">Dr Caroline Shorter</th>
<td class="title">Wellington Asthma Research Group</td>
<td class="quals">PhD (Medicine)</td>
</tr>
<tr>
<th class="name">Dr Olivia Hill</th>
<td class="title">-</td>
<td class="quals">MBChB</td>
</tr>
<tr>
<th class="name">Dr Jonathan Kennedy</th>
<td class="title">General Practitioner</td>
<td class="quals">FRNZCGP MBChB DPH DCH Dip Obs BSc</td>
</tr>
<tr>
<th class="name">Dr Phillipa Dodds</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB</td>
</tr>
<tr>
<th class="name">Dr Julie-Anne Bell</th>
<td class="title">Haematologist</td>
<td class="quals">MBBS  MRCP FRCPath</td>
</tr>
<tr>
<th class="name">Dr Aimee Rondel</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB FRNZCGP</td>
</tr>
<tr>
<th class="name">Nora Parore</th>
<td class="title">Pharmacist / Kaupapa Māori Health Researcher</td>
<td class="quals">BPharm PGCertClinPharm PGDipClinPharm Doctoral Candidate</td>
</tr>
<tr>
<th class="name">Dr Heather Powell</th>
<td class="title">Rural Hospital / GP</td>
<td class="quals">MBBS Bsc Trop Dip</td>
</tr>
<tr>
<th class="name">Dr Ashleigh Jensen</th>
<td class="title">Radiology Trainee</td>
<td class="quals">MBChB BSc PGDip Surg Anat.</td>
</tr>
<tr>
<th class="name">Dr Rowena Woodhams</th>
<td class="title">General Practice Registrar</td>
<td class="quals">MBChB DCH</td>
</tr>
<tr>
<th class="name">Lesley Gray</th>
<td class="title">Public Health</td>
<td class="quals">FFPH MPH MSc</td>
</tr>
<tr>
<th class="name">Dr Myrto Kenny</th>
<td class="title">GP</td>
<td class="quals">MBChB MRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Catherine Chan</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Katherine Bloomfield</th>
<td class="title">Geriatrician</td>
<td class="quals">BSc MBChB FRACP</td>
</tr>
<tr>
<th class="name">Dr Keith Colvine</th>
<td class="title">Rheumatologist and General Physician</td>
<td class="quals">MBChB FRACP</td>
</tr>
<tr>
<th class="name">Dr Dalilah Restrepo</th>
<td class="title">Infectious Diseases Specialist</td>
<td class="quals">NA</td>
</tr>
<tr>
<th class="name">Dr Monika Pradhan</th>
<td class="title">Ophthalmology</td>
<td class="quals">MBBS MS DOMS FCPS MRCOphth</td>
</tr>
<tr>
<th class="name">Dr Sharon Gardiner</th>
<td class="title">Antimicrobial Stewardship Pharmacist</td>
<td class="quals">PhD</td>
</tr>
<tr>
<th class="name">Dr Alicia Didsbury</th>
<td class="title">Immunologist</td>
<td class="quals">PhD</td>
</tr>
<tr>
<th class="name">Dr Olivia Tan</th>
<td class="title">General Practitioner</td>
<td class="quals">FRNZCGP MBChB</td>
</tr>
<tr>
<th class="name">Dr Thomas Wong</th>
<td class="title">Infectious Diseases and Geriatrics</td>
<td class="quals">MBChB</td>
</tr>
<tr>
<th class="name">Dr Tim Cunningham</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB DipObst FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Anna Cherry</th>
<td class="title">General Practitioner</td>
<td class="quals">MBBCh FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Danuta Amelung</th>
<td class="title">Specialist General Practitioner</td>
<td class="quals">BHB MBChB FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Maritza Farrant</th>
<td class="title">Endocrine Fellow</td>
<td class="quals">MBChB MPH FRACP</td>
</tr>
<tr>
<th class="name">Dr James Lello</th>
<td class="title">Medical Educator Senior Lecturer</td>
<td class="quals">MBChB DCH MMedSci FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Tracy Ball</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB MRCGP FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Joyce Chan</th>
<td class="title">General Practitioner</td>
<td class="quals">FRNZCGP MBChB Dip Paeds</td>
</tr>
<tr>
<th class="name">Dr Stephen Streat</th>
<td class="title">Intensivist</td>
<td class="quals">FRACP</td>
</tr>
<tr>
<th class="name">Dr Heather Murray</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB Dip Child Health FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Greg White</th>
<td class="title">GP</td>
<td class="quals">MBChB</td>
</tr>
<tr>
<th class="name">Dr Katherine Stevens</th>
<td class="title">Health Economics. Measuring and valuing child health.</td>
<td class="quals">PhD</td>
</tr>
<tr>
<th class="name">Dr Andrew Dickson</th>
<td class="title">Health Sociologist</td>
<td class="quals">PhD BSc</td>
</tr>
<tr>
<th class="name">Dr David Eccles</th>
<td class="title">Genetics / Nanopore Sequencing</td>
<td class="quals">BBmedSc(Hons) BSc PhD</td>
</tr>
<tr>
<th class="name">Dr Cayley Ingham</th>
<td class="title">Public Health</td>
<td class="quals">MBChB DCH MPH</td>
</tr>
<tr>
<th class="name">Dr Neil Gemmell</th>
<td class="title">Genetics</td>
<td class="quals">PhD</td>
</tr>
<tr>
<th class="name">Dr Julianna Lees</th>
<td class="title">Public Health Physician</td>
<td class="quals">MBChB MPH FNZCPHM</td>
</tr>
<tr>
<th class="name">Dr Tamsin Braisher</th>
<td class="title">Molecular Ecology</td>
<td class="quals">PhD</td>
</tr>
<tr>
<th class="name">Dr Eng Ann Toh</th>
<td class="title">Public Health Medicine Trainee</td>
<td class="quals">MB ChB PhD DPH MPH</td>
</tr>
<tr>
<th class="name">Dr Heather Battles</th>
<td class="title">Biological Anthropologist</td>
<td class="quals">PhD</td>
</tr>
<tr>
<th class="name">Dr Joep de Ligt</th>
<td class="title">Genomics</td>
<td class="quals">PhD</td>
</tr>
<tr>
<th class="name">Gustavo Olivares</th>
<td class="title">Air quality scientist</td>
<td class="quals">MSc</td>
</tr>
<tr>
<th class="name">Dr Murray Cadzow</th>
<td class="title">Genomics</td>
<td class="quals">PhD</td>
</tr>
<tr>
<th class="name">Dr Rochelle Phipps</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB FRNZCGP DCH MBA</td>
</tr>
<tr>
<th class="name">Dr June Leung</th>
<td class="title">Public Health Researcher</td>
<td class="quals">MBBS MPH MD</td>
</tr>
<tr>
<th class="name">Dr Anna Santure</th>
<td class="title">Genetics</td>
<td class="quals">PhD</td>
</tr>
<tr>
<th class="name">Dr Natasha Grimsey</th>
<td class="title">Pharmacology</td>
<td class="quals">PhD</td>
</tr>
<tr>
<th class="name">Leanne Te Karu</th>
<td class="title">NA</td>
<td class="quals">MHSc, PGDipClinPharm, PGCertPrescribing, PGCertHerbalMeds, PhDCandidate</td>
</tr>
<tr>
<th class="name">Dr Mike Foss</th>
<td class="title">Anaesthesia and pain medicine</td>
<td class="quals">BSc Dip Sc MBChB FANZCA FFPMANZCA</td>
</tr>
<tr>
<th class="name">Dr Jennifer Keys</th>
<td class="title">Rural Hospital Medicine</td>
<td class="quals">FDRHM</td>
</tr>
<tr>
<th class="name">Dr Kyle Eggleton</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB MMedSci MPH PhD FRNZCGP(Dist)</td>
</tr>
<tr>
<th class="name">Dr Sarah Clarke</th>
<td class="title">Rural Medicine</td>
<td class="quals">FRNZCUC FRHMNZ</td>
</tr>
<tr>
<th class="name">Dr Ramon Pink</th>
<td class="title">Public Health</td>
<td class="quals">MBChB MPH FAFPHM FNZCPHM</td>
</tr>
<tr>
<th class="name">Dr Anna Stevenson</th>
<td class="title">Public Health Medicine</td>
<td class="quals">MBChB, Dip Paeds, DipEpi, MPH</td>
</tr>
<tr>
<th class="name">Dr Rosemary Bruce</th>
<td class="title">Specialist General Practicioner Rural Health</td>
<td class="quals">MBChB FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Ian Ternouth</th>
<td class="title">Physician Cardiologist</td>
<td class="quals">FRCP FRACP FCSANZ</td>
</tr>
<tr>
<th class="name">Dr Linda Pirrit</th>
<td class="title">Specialist General Practitioner</td>
<td class="quals">FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Alastair Mark</th>
<td class="title">Anaesthetist</td>
<td class="quals">MBChB FANZCA</td>
</tr>
<tr>
<th class="name">Dr Rall Koen</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB FRNZCGP FRNZCUC</td>
</tr>
<tr>
<th class="name">Dr Campbell White</th>
<td class="title">Consultant Physician Internal Medicine</td>
<td class="quals">MBChB FRACP</td>
</tr>
<tr>
<th class="name">Dr Ricardo Jurawan</th>
<td class="title">Internal Medicine and Gastroenterology</td>
<td class="quals">MBBs FRACP</td>
</tr>
<tr>
<th class="name">Prof. A.W. Peet</th>
<td class="title">Theoretical Physics</td>
<td class="quals">PhD</td>
</tr>
<tr>
<th class="name">Dr Lisa Bundy</th>
<td class="title">Emergency Medicine Consultant.</td>
<td class="quals">MBChB BSc MRCP FRCA FACEM</td>
</tr>
<tr>
<th class="name">Dr Mahmoud Amer</th>
<td class="title">Nephrology</td>
<td class="quals">MBChB FRACP</td>
</tr>
<tr>
<th class="name">Dr Katherine Lovell</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Helen Nelson</th>
<td class="title">Psychiatrist</td>
<td class="quals">MB ChB FRANZCP</td>
</tr>
<tr>
<th class="name">Dr Kathryn Day</th>
<td class="title">Rural Hospital Specialist</td>
<td class="quals">MBChB MA Physiological Sciences (Oxford) FDRHMNZ</td>
</tr>
<tr>
<th class="name">Dr Mariam Parwaiz</th>
<td class="title">Public Health Physician</td>
<td class="quals">MBChB MPH (Hons) FNZCPHM</td>
</tr>
<tr>
<th class="name">Dr Rebekah Jaung</th>
<td class="title">Public Health</td>
<td class="quals">MBChB PhD MPH</td>
</tr>
<tr>
<th class="name">Puja Singh</th>
<td class="title">Evolutionary Psychology</td>
<td class="quals">BEng PostGradDipSci BA MA</td>
</tr>
<tr>
<th class="name">Dr Mavis Duncanson</th>
<td class="title">Public Health Physician</td>
<td class="quals">MB ChB MPH PhD FAFPHM FNZCPHM</td>
</tr>
<tr>
<th class="name">Dr Stuart Ekdahl</th>
<td class="title">Urgent Care</td>
<td class="quals">MBChB FRNZCUC</td>
</tr>
<tr>
<th class="name">Dr Ingrid Crawford</th>
<td class="title">Specialist General Practitione</td>
<td class="quals">MBChB PHCertWHlth FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Kevin Sum</th>
<td class="title">Internal Medicine Respiratory Medicine</td>
<td class="quals">MBBS FRACP</td>
</tr>
<tr>
<th class="name">Dr Malcolm Scott</th>
<td class="title">Family medicine</td>
<td class="quals">MBChB FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Ana Rakonjac</th>
<td class="title">Physics</td>
<td class="quals">PhD</td>
</tr>
<tr>
<th class="name">Amanda Rouse</th>
<td class="title">NA</td>
<td class="quals">RN, RM, Master of Healthcare</td>
</tr>
<tr>
<th class="name">Dr Rajesh Kumar</th>
<td class="title">Internal Medicine</td>
<td class="quals">MBBS FRACP</td>
</tr>
<tr>
<th class="name">Justine Paterson</th>
<td class="title">Public Health Nurse</td>
<td class="quals">DipNursing, BSc (Nursing)</td>
</tr>
<tr>
<th class="name">Dr. Matthew Rowe</th>
<td class="title">Cell and Molecular Biology</td>
<td class="quals">PhD</td>
</tr>
<tr>
<th class="name">Dr Mona Jeffreys</th>
<td class="title">Epidemiologist</td>
<td class="quals">PhD</td>
</tr>
<tr>
<th class="name">Dr Tony Oldham</th>
<td class="title">NA</td>
<td class="quals">Psychology, EBP, Methodology</td>
</tr>
<tr>
<th class="name">Dr Sharon McHardy</th>
<td class="title">Urgent Care Physician, Specialist General Practitioner</td>
<td class="quals">MBChB FRNZCGP FRNZCUC</td>
</tr>
<tr>
<th class="name">Dr Susan Genner</th>
<td class="title">Consultant General Practitioner</td>
<td class="quals">MBChB Dip Obs MRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Sarah Redfern</th>
<td class="title">General Practitioner/ GPSI Skin Cancer</td>
<td class="quals">MBChB FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Bevan Weir</th>
<td class="title">Microbiology</td>
<td class="quals">PhD</td>
</tr>
<tr>
<th class="name">Dr Jo Scott-Jones</th>
<td class="title">General Practitioner</td>
<td class="quals">FRNZCGP MMSc</td>
</tr>
<tr>
<th class="name">Dr Matthew Reid</th>
<td class="title">Public Health Medicine</td>
<td class="quals">BMedSci (Bioethics) MBChB DCH MPH FNZCPHM</td>
</tr>
<tr>
<th class="name">Dr Bridget Wilson</th>
<td class="title">Public Health Medicine Specialist</td>
<td class="quals">MBChB MPH NZCPHM</td>
</tr>
<tr>
<th class="name">Dr Al Donoghue</th>
<td class="title">Obstetrician and Gynaecologist</td>
<td class="quals">MBChB MBA FRANZCOG</td>
</tr>
<tr>
<th class="name">Dr John Shepherd</th>
<td class="title">Geriatrician</td>
<td class="quals">MBChB FRACP</td>
</tr>
<tr>
<th class="name">Dr Tanya Wilton</th>
<td class="title">Emergency Medicine</td>
<td class="quals">MBChB FACEM</td>
</tr>
<tr>
<th class="name">Lou Wickham</th>
<td class="title">NA</td>
<td class="quals">Bachelor Chemical Engineering, Master Environmental Law</td>
</tr>
<tr>
<th class="name">Elizabeth Oliphant</th>
<td class="title">Paediatric Pharmacist & Doctoral Candidate in Paediatrics</td>
<td class="quals">BPharm PGDipPharmPrac PhD candidate</td>
</tr>
<tr>
<th class="name">Dr Amanda Hunt</th>
<td class="title">Public Health</td>
<td class="quals">BHB, MPhil(EnvSc)Hons</td>
</tr>
<tr>
<th class="name">Dr Gerda Kuschel</th>
<td class="title">Senior Air Quality Specialist</td>
<td class="quals">PhD BE</td>
</tr>
<tr>
<th class="name">Professor Nigel French</th>
<td class="title">Epidemiology</td>
<td class="quals">BVSc MSc(Epidemiology) PhD</td>
</tr>
<tr>
<th class="name">Dr Ruth Large</th>
<td class="title">Emergency Medicine, Telehealth</td>
<td class="quals">MBChB FACEM FDRHM</td>
</tr>
<tr>
<th class="name">Dr Bruce King</th>
<td class="title">Elementary Particle Physics</td>
<td class="quals">PhD</td>
</tr>
<tr>
<th class="name">Dr Katarina Gray-Sharp</th>
<td class="title">Anthropogenic mass extinction/Kaupapa Māori researcher</td>
<td class="quals">PhD</td>
</tr>
<tr>
<th class="name">Dr Abdulmumuni Samuel Aliyu</th>
<td class="title">Infectious diseases</td>
<td class="quals">MPhil MCH</td>
</tr>
<tr>
<th class="name">Libby Grant</th>
<td class="title">Public Health researcher</td>
<td class="quals">MPH</td>
</tr>
<tr>
<th class="name">Dr David Keegan</th>
<td class="title">Family Physician, Professor of Family Medicine</td>
<td class="quals">MD CCFP(EM) FCFP</td>
</tr>
<tr>
<th class="name">Dr Rachel Nicholls</th>
<td class="title">Public Health</td>
<td class="quals">PhD, MPH</td>
</tr>
<tr>
<th class="name">Dr Frances Moon</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Bernard Cammack</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Ann Evans</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr R Scott Springford Metcalfe</th>
<td class="title">Public Health Physician</td>
<td class="quals">MBChB DComH FAFPHM(RACP) FNZCPHM FNZMA</td>
</tr>
<tr>
<th class="name">Dr Kristin Smith</th>
<td class="title">Radiologist</td>
<td class="quals">FRANZCR</td>
</tr>
<tr>
<th class="name">Dr Rosemary Anne Kingham</th>
<td class="title">Retired anaesthetist</td>
<td class="quals">MBChB FANZCA</td>
</tr>
<tr>
<th class="name">Dr Jennifer HY Lin</th>
<td class="title">Medicinal & computational chemistry/Data science</td>
<td class="quals">BPharm RegPharmNZ MPhil PhD</td>
</tr>
<tr>
<th class="name">Dr Bradley Case</th>
<td class="title">Ecology</td>
<td class="quals">PhD</td>
</tr>
<tr>
<th class="name">Dr Alison Blaiklock</th>
<td class="title">Public Health Physician</td>
<td class="quals">MPHTM  FNZCPHM</td>
</tr>
<tr>
<th class="name">Dr Sharon Kletchko</th>
<td class="title">Quality and Risk, Governance and Compliance</td>
<td class="quals">FRACP</td>
</tr>
</table>
