<table class="signature_table">
<tr>
<th class="name">Dr Kelvin Ward</th>
<td class="title">Urgent Care Physician</td>
<td class="quals">MBChB FRNZCUC DipCEM PGCertCPU</td>
</tr>
<tr>
<th class="name">Dr Amanda Kvalsvig</th>
<td class="title">Epidemiologist</td>
<td class="quals">MBChB MRCPCH(London) PhD</td>
</tr>
<tr>
<th class="name">Professor Michael Baker</th>
<td class="title">Epidemiologist</td>
<td class="quals">MBChB DPH DObs FAFPHM FNZCPHM FRACMA</td>
</tr>
<tr>
<th class="name">Dr Sandhya Ramanathan</th>
<td class="title">Specialist General Practitioner</td>
<td class="quals">BSc (Med) MBBS (Hons) DCH FRACGP FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Anna Brooks</th>
<td class="title">Immunologist</td>
<td class="quals">BCA BSc(Hons) PhD</td>
</tr>
<tr>
<th class="name">Dr Joel Rindelaub</th>
<td class="title">Aerosol Chemist</td>
<td class="quals">PhD</td>
</tr>
<tr>
<th class="name">Dr Rawiri Keenan</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB, FRNZCGP</td>
</tr>
<tr>
<th class="name">Terry Taylor</th>
<td class="title">Medical Laboratory Scientist</td>
<td class="quals">BSc DipMLS MNZIMLS</td>
</tr>
<tr>
<th class="name">Dr David Gollogly</th>
<td class="title">Urgent Care Physician</td>
<td class="quals">MBChB FRNZCUC</td>
</tr>
<tr>
<th class="name">Dr David Welch</th>
<td class="title">Computational Biologist</td>
<td class="quals">PhD</td>
</tr>
<tr>
<th class="name">Emeritus Professor Warren Tate</th>
<td class="title">Scientist-Biomedical</td>
<td class="quals">BSc MSc(Hons) PhD FRSNZ CNZM</td>
</tr>
<tr>
<th class="name">Professor Rod Jackson</th>
<td class="title">Epidemiologist and Public Health Physician</td>
<td class="quals">BSc MBChB MMedSc DObs DCH PhD FNZCPHM</td>
</tr>
<tr>
<th class="name">Professor Chris Bullen</th>
<td class="title">Public Health Medicine</td>
<td class="quals">MBChB DObst DCH MPH PhD FNZCPHM FAFPHM</td>
</tr>
<tr>
<th class="name">Professor Nick Wilson</th>
<td class="title">Professor of Public Health</td>
<td class="quals">MBChB MPH</td>
</tr>
<tr>
<th class="name">Associate Professor Rhys Jones</th>
<td class="title">University of Auckland</td>
<td class="quals">MBChB MPH FNZCPHM</td>
</tr>
<tr>
<th class="name">Associate Professor Elana Curtis</th>
<td class="title">University of Auckland</td>
<td class="quals">MD MPH DipPH MBChB BHB FNZCPHM</td>
</tr>
<tr>
<th class="name">Associate Professor Lance C. Jennings</th>
<td class="title">University of Otago</td>
<td class="quals">QSO PhD FRCPath FFSc(RCPA)</td>
</tr>
<tr>
<th class="name">Dr Kelvin Walls</th>
<td class="title">Engineer & building surveyor</td>
<td class="quals">PhD</td>
</tr>
<tr>
<th class="name">Dr Julie Bennett</th>
<td class="title">Public Health</td>
<td class="quals">PhD</td>
</tr>
<tr>
<th class="name">Dr Gary Payinda</th>
<td class="title">Emergency Medicine Specialist</td>
<td class="quals">MD MA DDU FACEP FACEM</td>
</tr>
<tr>
<th class="name">Dr Michael Howard</th>
<td class="title">Emergency Consultant</td>
<td class="quals">MD FACEP FACEM</td>
</tr>
<tr>
<th class="name">Dr Rory Miller</th>
<td class="title">Rural GP and Hospital Medicine</td>
<td class="quals">MBChB FRNZCGP FDRHMNZ</td>
</tr>
<tr>
<th class="name">Dr Garry Nixon</th>
<td class="title">Rural Health</td>
<td class="quals">MD FRNZCGP FDRHMNZ</td>
</tr>
<tr>
<th class="name">Dr Sally Talbot</th>
<td class="title">Specialist General Practitioner</td>
<td class="quals">MBChB Dip Obst FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Matire Harwood</th>
<td class="title">University of Auckland and Papakura Marae</td>
<td class="quals">MBChB PhD MRNZCGP GP</td>
</tr>
<tr>
<th class="name">Dr Alison Leversha</th>
<td class="title">Paediatrician</td>
<td class="quals">BHB MBChB DipObs FRACP(Paeds) MPH PhD</td>
</tr>
<tr>
<th class="name">Dr Ruth Sinclair</th>
<td class="title">NA</td>
<td class="quals">MBChB FRACP Neonatal Paediatrician</td>
</tr>
<tr>
<th class="name">Dr Jin Russell</th>
<td class="title">Community and Developmental Paediatrician</td>
<td class="quals">MBChB DipPaed FRACP</td>
</tr>
<tr>
<th class="name">Associate Professor Siouxsie Wiles</th>
<td class="title">Microbiologist</td>
<td class="quals">PhD</td>
</tr>
<tr>
<th class="name">Dr Alice Tait-Jamieson</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Catherine Hurd</th>
<td class="title">NA</td>
<td class="quals">BSc MD CCFP FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Pamela Eccles</th>
<td class="title">Anaesthetist Pain Medicine Specialist</td>
<td class="quals">MBChB FANZCA  FFPMANZCA</td>
</tr>
<tr>
<th class="name">Dr Indran Ramanathan</th>
<td class="title">Cardiothoracic Surgeon</td>
<td class="quals">MBBS PhD FRACS</td>
</tr>
<tr>
<th class="name">Dr Miranda McEwan</th>
<td class="title">General Practice</td>
<td class="quals">BSc(Hons) MBChB PhD</td>
</tr>
<tr>
<th class="name">Dr Cathy White</th>
<td class="title">NA</td>
<td class="quals">MBChB FRCGP</td>
</tr>
<tr>
<th class="name">Dr Louise Kuegler</th>
<td class="title">Specialist General Practitioner</td>
<td class="quals">MBChB FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Kim Williams</th>
<td class="title">NA</td>
<td class="quals">FRNZCGP  MRCP(Lond) MRCGP</td>
</tr>
<tr>
<th class="name">Dr Angela Glew</th>
<td class="title">General Practitioner</td>
<td class="quals">MA MB BChir MRCGP FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Vivian Fu</th>
<td class="title">Neurologist & General Physician</td>
<td class="quals">MBChB PhD FRACP</td>
</tr>
<tr>
<th class="name">Dr Danielle Gerrard</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB PGDip Paeds FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Rebecca Randerson</th>
<td class="title">Specialist General Practitioner</td>
<td class="quals">MBChB FRNZCGP DipChildHealth</td>
</tr>
<tr>
<th class="name">Dr Pauline Horrill</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Anna Skinner</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Caroline Ryan</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB (Otago) FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Stephanie Taylor</th>
<td class="title">General Practitioner</td>
<td class="quals">BPhED (Hons) MBChB FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Grahame David Jelley</th>
<td class="title">Specialist General Practitioner</td>
<td class="quals">MBChB FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Landi Cranstoun</th>
<td class="title">NA</td>
<td class="quals">MD Diplomate American Board of Family Medicine</td>
</tr>
<tr>
<th class="name">Dr Laura McAulay</th>
<td class="title">NA</td>
<td class="quals">MBBS MRNZCGP PGcertWH GP Registrar</td>
</tr>
<tr>
<th class="name">Dr Kiyomi Kitagawa</th>
<td class="title">NA</td>
<td class="quals">MB ChB</td>
</tr>
<tr>
<th class="name">Dr Pam Olver</th>
<td class="title">NA</td>
<td class="quals">MBBCh FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Victoria Jones</th>
<td class="title">NA</td>
<td class="quals">LLB BMBS FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Brett Hyland</th>
<td class="title">Specialist GP</td>
<td class="quals">BHB MBChB FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Lorna Archer</th>
<td class="title">General Practitioner</td>
<td class="quals">MB BS BSc</td>
</tr>
<tr>
<th class="name">Dr Rebecca Stewart</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Jonathon Phillips</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Clare Fisher</th>
<td class="title">Anaesthetist</td>
<td class="quals">MBChB FRCA FANZCA</td>
</tr>
<tr>
<th class="name">Dr Akanksha Bhargava</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB DCH FNZCGP</td>
</tr>
<tr>
<th class="name">Dr Christina McLachlan</th>
<td class="title">NA</td>
<td class="quals">MBChB FRACP</td>
</tr>
<tr>
<th class="name">Dr Yu-Ching Yu</th>
<td class="title">GP Registrar</td>
<td class="quals">MB ChB DTM&H MPH</td>
</tr>
<tr>
<th class="name">Dr Annick Depuydt</th>
<td class="title">Anaesthetist</td>
<td class="quals">MBBS BA FANZCA</td>
</tr>
<tr>
<th class="name">Dr Tarun Sharma</th>
<td class="title">GP and Urgent Care Physician</td>
<td class="quals">FRNZCGP FRNZCUC</td>
</tr>
<tr>
<th class="name">Dr Vicki Robertson</th>
<td class="title">Gynaecologist</td>
<td class="quals">FRANZCOG</td>
</tr>
<tr>
<th class="name">Dr Dougal Thorburn</th>
<td class="title">General Practitioner and Public Health Medicine</td>
<td class="quals">MBChB MPH FRNZCGP ANZCPHM</td>
</tr>
<tr>
<th class="name">Dr Prabani Wood</th>
<td class="title">Masters in Public Health BA FRCNZGP</td>
<td class="quals">BMBCh</td>
</tr>
<tr>
<th class="name">Dr Gemma Poke</th>
<td class="title">NA</td>
<td class="quals">FRACP</td>
</tr>
<tr>
<th class="name">Dr Pleayo Tovaranonte</th>
<td class="title">D.D.D</td>
<td class="quals">MBChB LLM (Medical Law & Ethics) PGDipSpMed  PGCertCAvMed  PGDipHlthSrvMgmnt</td>
</tr>
<tr>
<th class="name">Dr Andrew Wood</th>
<td class="title">ENT Surgeon</td>
<td class="quals">BM BCh PhD FRACS</td>
</tr>
<tr>
<th class="name">Dr Sonja Bodley</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Raakhi Mistry</th>
<td class="title">General Practice</td>
<td class="quals">MBChB</td>
</tr>
<tr>
<th class="name">Dr Prerna Sehgal</th>
<td class="title">Founding President PIHPSA</td>
<td class="quals">MBChB (Otago) PG Dip Paed (Auck) BPharm PG Cert Pharm (Otago)</td>
</tr>
<tr>
<th class="name">Dr Karen McIlhone</th>
<td class="title">NA</td>
<td class="quals">MBChB DipPaed MPH</td>
</tr>
<tr>
<th class="name">Dr Atalie Colman</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB FRNZCGP PhD</td>
</tr>
<tr>
<th class="name">Dr Tina Chou</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB FRNZCGP PGCertCAvMed</td>
</tr>
<tr>
<th class="name">Dr Karyn Schischka</th>
<td class="title">Urgent Care Physician</td>
<td class="quals">MBChB FRNZCUC MRCEM DCH</td>
</tr>
<tr>
<th class="name">Dr David Davies-Payne</th>
<td class="title">Radiologist</td>
<td class="quals">MBChB FRANZCR</td>
</tr>
<tr>
<th class="name">Dr Vivien Yong</th>
<td class="title">NA</td>
<td class="quals">MBChB FRACP</td>
</tr>
<tr>
<th class="name">Dr Robin Evison</th>
<td class="title">Urgent Care Physician</td>
<td class="quals">MD FRNZCUC</td>
</tr>
<tr>
<th class="name">Dr Barbara Blok</th>
<td class="title">Emergency Physician</td>
<td class="quals">MBChB FACEM FRNZCUC PGCertCPU PGDipTravMed</td>
</tr>
<tr>
<th class="name">Dr Jasmine MacKay</th>
<td class="title">Urgent Care Physician</td>
<td class="quals">BSc MBChB FRNZCUC</td>
</tr>
<tr>
<th class="name">Dr Kerry Thornbury</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB BSc FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Cheryl Archer</th>
<td class="title">Specialist General Practitioner</td>
<td class="quals">MBChB FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Nina Bevin</th>
<td class="title">General Practitioner and Public Health</td>
<td class="quals">MBChB MPH MHSci DIH FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Jasmin Roman</th>
<td class="title">General Practitioner</td>
<td class="quals">MD</td>
</tr>
<tr>
<th class="name">Dr Marama Renata</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Dave McKay</th>
<td class="title">Palliative Doctor and GP</td>
<td class="quals">MBChB PGDipGP PGDipPalCare FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Charlotte Harris</th>
<td class="title">General Practitioner</td>
<td class="quals">MBchB(Hons) FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Dasna Pallie</th>
<td class="title">General Practitioner</td>
<td class="quals">FRNZCGP MBCHB</td>
</tr>
<tr>
<th class="name">Dr Brooke Vosper</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB MRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Lakhminder Sandhu</th>
<td class="title">NA</td>
<td class="quals">FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Dilawar Singh</th>
<td class="title">General Practitioner and Urgent Care Physician</td>
<td class="quals">MBBS FRNZCGP FRNZCUC</td>
</tr>
<tr>
<th class="name">Dr Clare Harford</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Vasanthi Bradley</th>
<td class="title">NA</td>
<td class="quals">MBChB General Practitioner</td>
</tr>
<tr>
<th class="name">Dr Jocelyn Wood</th>
<td class="title">NA</td>
<td class="quals">M b B Chir MA (Cantab)FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Joost Breuk</th>
<td class="title">General Practitioner</td>
<td class="quals">FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Margaret Field Oakley</th>
<td class="title">Specialist GP</td>
<td class="quals">FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Donna Lahood</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Jason Kohamutunga Tuhoe</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Sivanadiyan Nachiappan</th>
<td class="title">General Practitioner</td>
<td class="quals">MBBS FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Claire Russell</th>
<td class="title">Urgent Care Clinician and CD  WDHB COVID Directorate</td>
<td class="quals">MBBS FRNZCGP FRNZCUC</td>
</tr>
<tr>
<th class="name">Dr Susanna Kent</th>
<td class="title">GP and Forensic Physician</td>
<td class="quals">MBChB FRNZCGP Dip Forensic Med Dip Obs Dip Clin Nutrition</td>
</tr>
<tr>
<th class="name">Dr Kirsten Tucker</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Kerry Macaskill-Smith</th>
<td class="title">NA</td>
<td class="quals">MBChB FRNZCGP DEEM DipPaeds</td>
</tr>
<tr>
<th class="name">Dr Rhondda Turner</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB Dip Obs FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Michael Loten</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Claire Coddington</th>
<td class="title">General Practitioner</td>
<td class="quals">MRCP MRCGP FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Helen Fulcher</th>
<td class="title">NA</td>
<td class="quals">MBChB DipPaed PGCertHsc (Sports Med) FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Ruth Cameron</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Rozanna Latif</th>
<td class="title">GP</td>
<td class="quals">MBChB</td>
</tr>
<tr>
<th class="name">Dr Katrina Kirikino</th>
<td class="title">General Practitioner</td>
<td class="quals">MBCHB FRNZCGP Dip Obs Dip Peads</td>
</tr>
<tr>
<th class="name">Dr Leanne Ashley</th>
<td class="title">GP and cosmetic medicine doctor</td>
<td class="quals">MBChB FRNZCGP NZSCM</td>
</tr>
<tr>
<th class="name">Dr Lucy Telfar Barnard</th>
<td class="title">Epidemiologist</td>
<td class="quals">MA(Hons) PhD</td>
</tr>
<tr>
<th class="name">Dr Kim Burgess</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB DPH FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Jessie Anderson</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Jennifer Summers</th>
<td class="title">Epidemiologist</td>
<td class="quals">PhD AKC DHMSA PGDPH  PGCap  BSc CStat FHEA MRSNZ</td>
</tr>
<tr>
<th class="name">Dr Dermot Coffey</th>
<td class="title">General Practitioner</td>
<td class="quals">FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Geraldine Tennent</th>
<td class="title">General Practitioner</td>
<td class="quals">FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Anita Mudaliar</th>
<td class="title">NA</td>
<td class="quals">MRCGP FRNZCGP General Practitioner</td>
</tr>
<tr>
<th class="name">Dr Herman van Kradenburg</th>
<td class="title">Consultant Specialist GP</td>
<td class="quals">MBCHB Dip Occ Med (cum laude) FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Neilenuo Nelly Rentta</th>
<td class="title">Public Health</td>
<td class="quals">MBBS Diplomate of the National Board (DNB) General Surgery DPH</td>
</tr>
<tr>
<th class="name">Dr Sarah McArthur</th>
<td class="title">General Practice</td>
<td class="quals">MBChB PGDip Child Health</td>
</tr>
<tr>
<th class="name">Dr Shona Roberts</th>
<td class="title">General Practitioner</td>
<td class="quals">MBBS FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Gillian Yardley</th>
<td class="title">General Practitioner</td>
<td class="quals">BSc MbChB FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Naera Waters</th>
<td class="title">Medical Oncologist</td>
<td class="quals">MBChB FRACP</td>
</tr>
<tr>
<th class="name">Dr Janet Hayward</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Maaike Mewe</th>
<td class="title">Specialist GP</td>
<td class="quals">FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Helen Wood</th>
<td class="title">Specialist General Practitioner</td>
<td class="quals">MBChB FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Liz Humm</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Beth McDonald</th>
<td class="title">General Practice</td>
<td class="quals">MBChB</td>
</tr>
<tr>
<th class="name">Dr Vicki Shaw</th>
<td class="title">Youth Health</td>
<td class="quals">MBChB</td>
</tr>
<tr>
<th class="name">Dr Holly Pittar</th>
<td class="title">House Officer</td>
<td class="quals">MBChB DCH</td>
</tr>
<tr>
<th class="name">Dr May Ching Soh</th>
<td class="title">Rheumatologist & Obstetric Physician</td>
<td class="quals">MBChB FRACP PhD</td>
</tr>
<tr>
<th class="name">Dr Caroline Shorter</th>
<td class="title">Wellington Asthma Research Group</td>
<td class="quals">PhD (Medicine)</td>
</tr>
<tr>
<th class="name">Dr Olivia Hill</th>
<td class="title">NA</td>
<td class="quals">MBChB</td>
</tr>
<tr>
<th class="name">Dr Jonathan Kennedy</th>
<td class="title">General Practitioner</td>
<td class="quals">FRNZCGP MBChB DPH DCH Dip Obs BSc</td>
</tr>
<tr>
<th class="name">Dr Phillipa Dodds</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB</td>
</tr>
<tr>
<th class="name">Dr Julie-Anne Bell</th>
<td class="title">Haematologist</td>
<td class="quals">MBBS  MRCP FRCPath</td>
</tr>
<tr>
<th class="name">Dr Aimee Rondel</th>
<td class="title">NA</td>
<td class="quals">MBChB FRNZCGP</td>
</tr>
<tr>
<th class="name">Nora Parore</th>
<td class="title">Pharmacist/Kaupapa MƒÅori Health Researcher</td>
<td class="quals">BPharm PGCertClinPharm PGDipClinPharm Doctoral Candidate</td>
</tr>
<tr>
<th class="name">Dr Heather Powell</th>
<td class="title">Rural Hospital/GP</td>
<td class="quals">MBBS Bsc Trop Dip</td>
</tr>
<tr>
<th class="name">Dr Ashleigh Jensen</th>
<td class="title">Radiology Trainee</td>
<td class="quals">MBChB BSc PGDip Surg Anat.</td>
</tr>
<tr>
<th class="name">Dr Rowena Woodhams</th>
<td class="title">General Practice Registrar</td>
<td class="quals">MBChB DCH</td>
</tr>
<tr>
<th class="name">Lesley Gray</th>
<td class="title">University of Otago</td>
<td class="quals">FFPH MPH MSc</td>
</tr>
<tr>
<th class="name">Dr Myrto Kenny</th>
<td class="title">GP</td>
<td class="quals">MBChB MRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Catherine Chan</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB FRNZCGP</td>
</tr>
<tr>
<th class="name">Dr Katherine Bloomfield</th>
<td class="title">Geriatrician</td>
<td class="quals">BSc MBChB FRACP</td>
</tr>
<tr>
<th class="name">Dr Keith Colvine</th>
<td class="title">Rheumatologist and General Physician</td>
<td class="quals">MBChB FRACP</td>
</tr>
<tr>
<th class="name">Dr Dalilah Restrepo</th>
<td class="title">MidCentral DHB</td>
<td class="quals">Infectious Diseases Specialist</td>
</tr>
<tr>
<th class="name">Dr Monika Pradhan</th>
<td class="title">Ophthalmology</td>
<td class="quals">MBBS MS DOMS FCPS MRCOphth</td>
</tr>
<tr>
<th class="name">Dr Sharon Gardiner</th>
<td class="title">Antimicrobial Stewardship Pharmacist</td>
<td class="quals">PhD</td>
</tr>
<tr>
<th class="name">Dr Alicia Didsbury</th>
<td class="title">Immunologist</td>
<td class="quals">PhD</td>
</tr>
<tr>
<th class="name">Dr Olivia Tan</th>
<td class="title">General Practitioner</td>
<td class="quals">FRNZCGP MBChB</td>
</tr>
<tr>
<th class="name">Dr Thomas Wong</th>
<td class="title">Infectious Diseases and Geriatrics</td>
<td class="quals">MBChB</td>
</tr>
<tr>
<th class="name">Dr Tim Cunningham</th>
<td class="title">General Practitioner</td>
<td class="quals">MBChB DipObst FRNZCGP</td>
</tr>
</table>
